body {
  background-color: #011627;
}

button {
  height: 150px;
  width: 150px;
  color: #fff;
  background-color: #FF3666;
  border: 2px solid #fff;
  margin:50px;
}

#synthesis {
  margin: 100px;
  border: 1px dashed #fff;
}
